  .label-focus{
    color: #41b883;
  }
  .underline-focus{
    background-color: #41b883;
  }
  .mu-menu-item-wrapper.active{
    color: #41b883;
  }

  .animated {
    -webkit-animation-duration: .5s !important;
    animation-duration: .5s !important;
  }