  .label-focus{
    color: #41b883;
  }
  .underline-focus{
    background-color: #41b883;
  }
  .mu-menu-item-wrapper.active{
    color: #41b883;
  }

  .mu-refresh-control{
    color: #41b883;
  }
  .mu-circle-spinner{
    border-color: #41b883;
  }

  .animated {
    -webkit-animation-duration: .5s !important;
    animation-duration: .5s !important;
  }

  .mu-overlay{
    z-index: 400 !important;
  }
  .mu-bottom-sheet{
    z-index: 500 !important;
  }